
.navbar-brand{
    font-weight:bolder;
    /* text-shadow: 0px 2px 10px white; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.navbar-brand:hover{
    cursor: pointer;

}
.navbar-brand img{
    width: 2rem;
    height: 2rem;
}
.nav-link:hover{
 cursor: pointer;
 text-shadow: 2px 2px 5px whitesmoke;
}
.navbar-nav{
    margin-left: auto;
}
